{
	"src/**/!(*.min).js": ["prettier --write --c ./.prettierrc.cjs", "eslint --fix"],
	"src/**/*.{ts,tsx}": ["prettier --write --c ./.prettierrc.cjs", "eslint --fix"],
	"src/**/*.{ts,js,vue,html,css,scss,sass,stylus}": ["prettier --write --c ./.prettierrc.cjs"]
}
